Repository untalsanders/mercadolibre-api-clone-nodejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix . --ext .js, prettier --write ., prettier --write *.json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix . --ext .js", "prettier --write ."],
  "*.json": "prettier --write *.json"
}

chore: set tabSize to format files
  .editorconfig
Due: none

chore: update git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor: update nodemon config
  nodemon.json
Due: prettier --write *.json

fix: create a new Schema instance and rename the model
  src/models/ProductModel.js
Due: eslint --fix . --ext .js, prettier --write .

fix: adapt the code for the mongoose new version
  src/controllers/ProductController.js
Due: eslint --fix . --ext .js, prettier --write .

fix: update connection parameters for the database mongo
  src/config.js
  src/database.js
Due: eslint --fix . --ext .js, prettier --write .

chore: add example variables for database connection
  .env.example
Due: none

style: re-order imports
  src/routes/product.js
Due: eslint --fix . --ext .js, prettier --write .

docs: add test endpoint to validate with rest-client
  requests.http
Due: none

build: update dependencies to fix vulnerabilities
  pnpm-lock.yaml
Due: none

fix: add "?" missing character for query string
  src/database.js
Due: eslint --fix . --ext .js, prettier --write .

feat: homogenize responses
  src/controllers/ProductController.js
Due: eslint --fix . --ext .js, prettier --write .
